@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Kalam:wght@700&family=Permanent+Marker&family=Roboto&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    font-family: 'Bitter', serif;
    box-sizing: border-box;
    color: #eee;
}

body {
    width: 100%;
    height: 100%;
    background: url("/assets/images/clouds.jpg") no-repeat center fixed;
    background-size: cover;
} 

a {
    text-decoration: none;
    color: #000;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 100vh;
}

.nav-bar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: #6d86f7;
    border-radius: 100%;
    transition: 650ms all cubic-bezier(1, 0, 0, 1);
    z-index: 2;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-option {
    font-size: 5rem;
    padding: 1rem;
}

.nav-option:hover,
.nav-option:focus {
    background: #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-bar.open {
    top: 0;
    border-radius: initial;
}

.nav-option::after {
    content: '';
    display: block;
    width: 0;
    height: .2rem;
    transition: 500ms width ease;
}

.nav-option:hover::after {
    background: #eee;
    width: 100%;
}

.menu-toggle {
    position: fixed;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    transition: 650ms transform ease-out;
}

.menu-line {
    background: #000;
    width: 100%;
    height: 5px;
    border-radius: 2rem;
}

.menu-line.half{
    width: 50%;
}

.menu-line.start{
    transform-origin: right;
    transition: 650ms transform cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.menu-line.end{
    align-self: flex-end;
    transform-origin: left;
    transition: 650ms transform cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.menu-toggle.open {
    transform: rotate(-45deg);
}

.open .menu-line.start {
    transform: rotate(-450deg) translateX(.8rem);
    background: #eee;
}

.open .menu-line.end {
    transform: rotate(-450deg) translateX(-.8rem);
    background: #eee;
}

.open .menu-line.middle {
    background: #eee;
}


.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 20rem;
    color: #000;
    width: 100%;
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 3rem;
    font-weight: 300;
    color: #000;
    width: 100%;
    user-select: none;
}