@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Josefin+Sans:wght@300;400;700&family=Noticia+Text&display=swap');

/* Global */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: url("/assets/images/gradient.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

    /* bootstrap conflict in html style */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    color: #FFF;
} 

body.open {
    height: 100%;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

li{
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 3rem;
}

img {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100vh;
}

section {
    margin: 17rem 5rem;
}

/* Reused Classes */

.header {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 7rem;
    text-shadow: -1px -1px #000000, 
                 1px -1px #000000, 
                 -1px 1px #000000, 
                 1px 1px #000000;
    margin: 0 0 1.5rem 7vw;
}

.header-centered {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 7rem;
    text-shadow: -1px -1px #000000, 
                 1px -1px #000000, 
                 -1px 1px #000000, 
                 1px 1px #000000;
    width: 25%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.sub-header {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.sub-header-centered {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 3rem;
    width: 28%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.showcase {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Hamburger Menu */

.menu {
    z-index: 100; /* always at the top */
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-line {
    background: #FFF;
    border-radius: 20%;
    width: 100%;
    height: 4px;
    transition: 650ms all ease-in-out;
}

.menu-line.top {
    transform-origin: right;
}

.menu-line.bottom {
    transform-origin: right;
}

.open .menu-line.middle{
    background: transparent;
    box-shadow: none;
    transform: translateX(-50px);
}

.open .menu-line.top {
    transform: rotate(-45deg);
}

.open .menu-line.bottom {
    transform: rotate(45deg);
}

/*  Navigation Bar */

.navbar.open {
    top: 0;
    border-radius: initial;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: -100vh;
    width: 100%;
    height: 100vh;
    background-color: #2051aa;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: 650ms all cubic-bezier(0.8, 0.05, 0.05, 1);
}

.navbar-nav {
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-nav li {
    margin: 2rem 3rem;
}

.navbar-nav a {
    font-family: 'Crimson Text', serif;
    font-size: 4rem;
    font-weight: 400;
    color: #FFF;
}

.nav-link::after {
    content: '';
    display: block;
    background: #FFF;
    width: 0;
    height: .3rem;
    transition: 400ms all linear;
}

.nav-link:hover::after {
    width: 100%;
}


/* SECTION STYLES BELOW*/

/* Landing */

.landing {
    z-index: 1;
    font-family: 'Noticia Text', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    user-select: none;
    transform: translate(-50%, -50%);
}


.landing > h1 {
    font-size: 20rem;
    margin-bottom: 1.5rem;
    text-shadow: 4px 4px 1px #95546a;
}

.landing > h6 {
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 2px 2px 1px #95546a;
}

/* About */

.portrait {
    height: 40rem;
    width: 40rem;
    border-radius: 15px;
}

.about h1 {
    margin-top: 1.75rem;
}

.social-bar {
    list-style: none;
    margin: 0 0 3rem 7vw;
}

.social-bar > li {
    display: inline;
    margin-right: 5vw;
}

.btn {
    position: relative;
    display: inline-block;
    background: #FFF;
    color: #2196f0;
    border-radius: 30%;
    width: 4rem;
    height: 4rem;
}

.btn i  {
    transition: 200ms transform linear;
    line-height: 30px;
    font-size: 15px;
}

.btn:hover i {
    transform: scale(1.5);
}

/* Portfolio */

.portfolio-item {
    margin-bottom: 8rem;
}

.portfolio-item ul {
    margin-top: 3vw;
}

/* Experience */

.timeline {
    position: relative;
}

.timeline .date {
    list-style: none;
    position: relative;
    width: 50%;
    margin-bottom: 1rem;
    padding: 4rem;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #FFFFFF;
}

.timeline .date:nth-child(odd) {
    float: left;
    clear: both;
}

.timeline .date:nth-child(even) {
    float: right;
    clear: both;
}

.timeline .date:nth-child(odd)::before {
    content: "";
    position: absolute;
    right: -1rem;
    height: 1.5rem;
    width: 1.5rem;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.timeline .date:nth-child(even)::before {
    content: "";
    position: absolute;
    left: -.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background: rgba(233, 33, 99, 1);
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.date-title-right {
    text-align: right;
}

.date-title-left {
    text-align: left;
}

.timeline .date:nth-child(odd) .data-time {
    content: "";
    position: absolute;
    top: 3rem;
    right: -20rem;
    padding: 1rem;
    background: rgb(241, 93, 93);
    border-radius: 2rem;
}

.timeline .date:nth-child(even) .data-time {
    content: "";
    position: absolute;
    top: 3rem;
    left: -20rem;
    padding: 1rem;
    background: rgb(241, 93, 93);
    border-radius: 2rem;
}

/* Contact */

form {
    width: 70%;
    margin: 0 auto;
}

form label{
    font-size: 2rem;
}

form input[type="text"] {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
}

form textarea{
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
}

input, select, textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
    border: none; 
}

input[type="submit"] {
    width: initial;
    background-color:rgb(241, 93, 93);;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem 3rem;
    border: none; 
    cursor: pointer;
}

.required-input {
    color: #ff0000;
}

iframe {
    display: none;
}


/* Responsiveness */

/* @media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {
    
} */


@media (max-width: 767.98px) {
    /* Global */

    section {
        margin: 15rem 4rem;
    }

    /* Landing */

    .landing > h1 {
        font-size: 14rem;
    }

    .landing > h6 {
        font-size: 4rem;
    }

    /* About */

    .portrait {
        margin-top: 10rem;
    }

    .social-bar {
        margin-left: 6vw;
    }

    /* Portfolio */

    .showcase {
        margin-top: 10rem;
    }

    /* Experience */

    .timeline {
        width: 100%;
    }

    .timeline::before {
        left: 0;
    }

    .date-title-right {
        text-align: left;
    }

    .timeline .date:nth-child(odd),
    .timeline .date:nth-child(even) {
        width: 100%;
    }

    .timeline .date:nth-child(even)::before,
    .timeline .date:nth-child(odd)::before {
        top: 0;
        left: -.5rem;
    }

    .timeline .date:nth-child(odd) .data-time,
    .timeline .date:nth-child(even) .data-time {
        content: "";
        position: absolute;
        top: -1rem;
        left: 3rem;
        right: initial;
        padding: .5rem;
    }

    /* Contact */

    .header-centered {
        margin: 0 0 3rem 7vw;
    }

    .header-centered {
        margin: 0 0 3rem 7vw;
    }
}

@media (max-width: 575.98px) {
     /* Global */

    section {
        margin: 9rem 3rem;
    }

    p {
        font-size: 1.6rem;
    }

    /* Reused */

    .header {
        font-size: 4rem;
        margin: 0 0 1.5rem 0;
    }

    .sub-header {
        font-size: 2.5rem;
    }

    .portrait {
        height: 23rem;
        width: 23rem;
    }

    /* Navbar */

    .navbar-nav > li {
        font-size: 3rem;
        margin: 1rem 0;
    }

    /* Hamburger */

    .menu {
        height: 3rem; 
    }
    
    .menu-line {
        width: 40px;
        height: 4px;
    }

    .open .menu-line.top {
        width: 75%;
    }
    
    .open .menu-line.bottom {
        width: 75%;
    }
    
    /* Landing */

    .landing > h1 {
        font-size: 7rem;
    }
    .landing > h6 {
        font-size: 2rem;
    }

    /* About */

    .social-bar{
        margin-left: 0;
    }
    
    .social-bar > li{
        margin-right: 2rem;
    }

    .portrait {
        margin-top: 0;
    }

    /* Portfolio */

    .disappear {
        display: none;
    }

    /* Contact */

    .header-centered{
        font-size: 4rem;
        width: 70%;
        margin: 0 auto;
    }

    .sub-header-centered{
        font-size: 2.5rem;
        width: 70%;
        margin: 0 auto;
    }
}