@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Kalam&family=Roboto:ital@0;1&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    background: url("/assets/images/gradient.jpg") no-repeat center fixed;
    background-size: cover;
} 

a {
    color: #eee;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 100vh;
}

.default {
    font-family: 'Bitter', serif;
    color: #eee;
}

.navbar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    background-color: #2b5096;
    border-radius: 100%;
    transition: 650ms all cubic-bezier(0.8, 0.05, 0.05, 1);
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-item {
    font-size: 4rem;
    padding: 1rem;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
    background: #eee;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar.open {
    top: 0;
    border-radius: initial;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: .3rem;
    transition: 500ms width ease;
}

.nav-item:hover::after {
    background: #eee;
    width: 100%;
}

.menu-hamburger {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100;
    transition: 650ms transform ease-out;
}

.menu-line {
    background: #eee;
    width: 100%;
    height: 5px;
    border-radius: 2rem;
}

.menu-line.half{
    width: 50%;
}

.menu-line.start{
    transform-origin: right;
    transition: 650ms transform cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.menu-line.end{
    align-self: flex-end;
    transform-origin: left;
    transition: 650ms transform cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.menu-hamburger.open {
    transform: rotate(-45deg);
}

.open .menu-line.start {
    transform: rotate(-450deg) translateX(.8rem);
    background: #eee;
}

.open .menu-line.end {
    transform: rotate(-450deg) translateX(-.8rem);
    background: #eee;
}

.open .menu-line.middle {
    background: #eee;
}


.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    z-index: 1;
}

.landing-text h1 {
    /* font-size: 20rem; */
    font-size: 10vmax;
    text-shadow: 5px 5px #95546a;
    width: 100%;
    padding: 1rem;
}

.landing-text h6 {
    /* font-size: 3rem; */
    font-size: 2vmax;
    font-weight: 200;
    text-shadow: 2px 2px #95546a;
    width: 100%;
}

.about {
    color: white;
}

.about-title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-title .title {
    font-size: 7rem;
}

.about-title h1::after {
    content: "";
    display: block;
    width: 60%;
    height: .5rem;
    background: #eee;
    outline: 1px solid #000;
}

img.profile {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    margin: 0 5rem;
}

